 {% extends 'base.html' %}
{% block content %}
<div class="shadow card">
                <div class="card-body">
                    <h5 class="card=title">{{task.name}}</h5>
                    <p><b>{{task.priority}}</b></p>
                    <h4>{{task.date}}</h4>
                    <a class="btn btn-danger" href="{% url 'todoapp:delete' task.id %}">DONE</a>
                    <a class="btn btn-warning" href="{% url 'todoapp:update' task.id %}"> UPDATE </a>

                </div>
 </div>
 {% endblock %}